@media only screen and (max-width: 991px) {
    .sidenavs {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        background: #000;
        height: 100vh;
        transition: all .3s;
        z-index: 9999999;
        padding-top: 45px;
    }

    a.active {
        color: #989898 !important;
        border-bottom: none;
    }

    .page-header {
        opacity: 1;
    }

    .toggle-bar {
        display: block !important;
        color: #fff;
    }

    span.closebtn {
        display: block !important;
        text-align: right;
        color: #fff;
        position: absolute;
        right: 19px;
        top: 10px;
        font-size: 20px;
    }

    .navigation div#mySidenavs ul {
        display: block;
    }

    .navigation div#mySidenavs ul li {
        margin-left: 0px;
    }

    .navigation div#mySidenavs ul li a {
        padding: 7px 20px;
        display: block;
        color: #fff;
    }

    .menu-footer h3 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .traveltour-top-bar {
        display: none;
    }

    .page-header {
        top: 0;
    }
}